@tailwind base;
@tailwind components;
@tailwind utilities;


.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .active, .accordion:hover {
    background-color: #ccc; 
  }

  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }